{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load account %}

{% block content %}

<style>
  #justify-center {
    margin: auto;
    width: 85%;
    padding: 10px;
    border: none !important;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: large;
  }

  label {
    display: none;
  }

  #id_email {
    width: 100%;
    height: 45px;
    background-color: white !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: medium;
  }

  input {
    width: 70%;
    height: 40px;
    background-color: white !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
  }

  a,
  p,
  .link {
    text-align: center;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  h2 {
    text-align: center;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .form_container {
    margin-top: 10px;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  /* BUTTONS */

  .btn {
    border-width: 2px;
    color: white;
    border-color: rgba(148, 149, 150, 0.4);
    background-color: rgba(131, 133, 134, 0.8) !important;
    width: 80%;
    height: 45px;
    margin-top: 2%;
    font-weight: bold;
    text-align: center;
    font-size: medium !important;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .btn:hover,
  .btn:active,
  .btn:focus {
    background-color: rgba(94, 95, 95, 0.792) !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  }

  .form-control {
    width: 100%;
    height: 60px;
    margin: 1%;
    text-align: center;
    font-size: large !important;
  }
</style>

<div class="container-fluid" id="justify-center">
  <br>

  <div>

    <h2>PASSWORD RESET</h2>

    <p class="mb-4">Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you
      to reset it.</p>
      <br>
    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset mt-4">
      {% csrf_token %}
      {{ form.as_p }}
      <input class="btn" type="submit" value="RESET" />
    </form>

    <p class="mb-4"><small>Please contact us at <strong>info@biznet.com</strong>
      if you have any trouble resetting your
      password.</small></p>
  </div>
              <!-- Account Register and Signin links-->
              <div class="mt-4 row justify-content-center">
                <div class="d-flex links">
                  <p>Back to&nbsp;<a href="{% url 'home' %}" class="ml-2">start page.</a></p>
                </div>
              </div>

</div>
{% endblock %}