{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

<style>
    #justify-center {
        margin: auto;
        width: 85%;
        padding: 10px;
        border: none !important;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: large;
    }
/*
    label {
        display: none;
    }

    #id_email,
    #id_username,
    #id_password1,
    #id_password2 {
        width: 100%;
        height: 50px;
        background-color: white !important;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        font-size: large;
    }

    input {
        width: 70%;
        height: 40px;
        background-color: white !important;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: large;
    }
*/
    a,
    p,
    .link,
    h1,
    h2 {
        text-align: center;
        font-size: large;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
/*
    .form_container {
        margin-top: 10px;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
*/
    /* BUTTONS */
/*
    .btn {
        border-width: 2px;
        color: white;
        border-color: rgba(148, 149, 150, 0.4);
        background-color: rgba(131, 133, 134, 0.8) !important;
        width: 80%;
        height: 50px;
        margin-top: 2%;
        font-weight: bold;
        text-align: center;
        font-size: medium !important;
        box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -webkit-box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -moz-box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .btn:hover,
    .btn:active,
    .btn:focus {
        background-color: rgba(94, 95, 95, 0.792) !important;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    }

    .form-control {
        width: 100%;
        height: 60px;
        margin: 1%;
        text-align: center;
        font-size: large !important;
    }
*/
    #link {
        color: deeppink;
    }
</style>

<div class="container-fluid" id="justify-center">


    <div class="user_card" id="justify-center">

        <div class="form_container" id="justify-center">

            <h1>Password set</h1>
            <p>Your password has been set. 
                You can<a href="{% url 'home' %}">login now</a>
            </p>
        </div>

    </div>
</div>
{% endblock %}