{% extends "base.html" %}
{% load static %}

<!--{% block extra_css %}
<link rel="stylesheet" href="{% static 'profileusers/css/profile.css' %}">
{% endblock %}-->

<!--{% block scripts %}
<script src="{% static 'profileusers/js/my_profile.js' %}" defer></script>
{% endblock scripts %}-->

{% block page_header %}
<!-- Profile tab links -->
<div class="tab-container">
    <ul class="nav nav-tab justify-content-evenly" id="profileTab" role="tablist">
        <li class="nav-item" role="presentation">
            <form action="{% url 'profile_details' %}">
                <input type="submit" value="MY PROFILE" class="nav-link gig-tab active" id="my_profile_tab"
                    data-bs-toggle="tab" data-bs-target="#my_profile" type="tab-button" role="tab" />
            </form>
        </li>
        <li class="nav-item" role="presentation">
            <form action="{% url 'my_gigs' %}">
                <input type="submit" value="MY GIGS" class="nav-link gig-tab" id="my_gig_tab" data-bs-toggle="tab"
                    data-bs-target="#my_gig" type="tab-button" role="tab" />
            </form>
        </li>
        <li class="nav-item" role="presentation">
            <form action="{% url 'my_contacts' %}">
                <input type="submit" value="MY CONTACTS" class="nav-link gig-tab" id="my_contacts_tab"
                    data-bs-toggle="tab" data-bs-target="#my_contacts" type="tab-button" role="tab" />
            </form>
        </li>
        <li class="nav-item" role="presentation">
            <form action="{% url 'membership_profile' %}">
                <input type="submit" value="MEMBERSHIP" class="nav-link gig-tab" id="membership_profile_tab"
                    data-bs-toggle="tab" data-bs-target="#membership_profile" type="tab-button" role="tab" />
            </form>
        </li>

    </ul>
    <div class="tab-content">
        <div class="tab-pane show active" id="my_profile" role="tabpanel" aria-labelledby="my_profile_tab"></div>
        <div class="tab-pane" id="my_gig" role="tabpanel" aria-labelledby="my_gig_tab"></div>
        <div class="tab-pane" id="my_contacts" role="tabpanel" aria-labelledby="my_contacts_tab"></div>
        <div class="tab-pane" id="membership_profile" role="tabpanel" aria-labelledby="membership_profile_tab"></div>

    </div>
</div>
{% endblock %}


{% block content %}

<style>
    
    .follow-button {
        height: 30px;
        text-transform: uppercase;
        font-size: small !important;
        font-weight: bold;
        align-items: center;
        justify-content: center;
        background-color: rgba(206, 6, 6, 0.898) !important;
    }

    .follow-button:hover {
        height: 30px;
        text-transform: uppercase;
        font-size: small !important;
        font-weight: bold;
        align-items: center;
        justify-content: center;
        background-color: rgba(136, 33, 33, 0.898) !important;
    }
    
  /*  
    .followers {
        color: rgba(206, 6, 6, 0.898);
        font-weight: bold;
        text-decoration: none;
    }
    .followers:hover {
        color: rgba(35, 178, 197, 0.898);
        font-weight: bolder;
    }
    
#wrapper {
    display: flex;
    justify-content: center;
}
*/
</style>

<div class="container-fluid">
    <br>
    <div class="row">

        <!-- Contact cards -->
        <div class="col-sm-10 col-sx-12 mx-auto">
            <div class="card">
                <div class="card-body">


                <div class="row">
                    <div class="col-9">
                        <p><b>Following profiles:</b></p>
                    </div>
                    <div class="col text-center">
                        <p><b>No:</b></p>
                        <p> {{ profile.following_count }}</p>
                    </div>
                </div>

                {% for profileuser in profile.get_following %}
                <div class="row justify-content-between">
                    <div class="col-9 my-2">
                        <a class="card-title followers" id="followers" href="{% url 'profile_details' profileuser.pk %}">
                            <p class="card-title""><strong>{{profileuser.first_name}} {{profileuser.last_name}}</strong></p>
                            <!--<p class="small">{{ profile.profession }}, {{ profile.company_name }}</p>-->
                        </a>
                    </div>
                    <div class="col text-center my-2">
                        <form action="{% url 'follow_unfollow_profile' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="profile_pk" value={{profileuser.pk}}>
                            <button type="submit" class="btn follow-button">Unfollow</button>
                        </form>
                    </div>
                </div>
                {% endfor %}
                </div>

            </div>

        </div>
    </div>

</div>
<br>


<script>
/*
    var exampleModal = document.getElementById('follow-btn')
    exampleModal.addEventListener('show.bs.modal', function (event) {
        // Button that triggered the modal
        var button = event.relatedTarget
        // Extract info from data-bs-* attributes
        var recipient = button.getAttribute('data-bs-whatever')
        // If necessary, you could initiate an AJAX request here
        // and then do the updating in a callback.
        //
        // Update the modal's content.
        var modalTitle = exampleModal.querySelector('.modal-title')
        var modalBodyInput = exampleModal.querySelector('.modal-body input')

        modalTitle.textContent = 'New message to ' + recipient
        modalBodyInput.value = recipient
    })
*/
</script>

{% endblock %}

        <!--{% if object is not None %}-->

                <!--{% else %}
                <div class="col-12">
                    <h3 class="text-center"><strong>UPGRADE YOUR MEMBERSHIP</strong></h3>
                    <h6 class="text-center">You have to upgrade your Membership to have
                        access to this function.</h6>

                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="monthly">
                            <div class="row py-3">

                                <div class="col-md-4 mb-md-0 p-2">
                                    <div class="card card-mem text-center h-100">
                                        <div class="card-body card-member text-center d-flex flex-column">
                                            <div class="mb-4">
                                                <h4>FREE ACCESS</h4>
                                                <br>
                                                <span class="display-4">€0</span>
                                                <span>/mo</span>
                                            </div>
                                            <h6 class="mb-3">Includes:</h6>
                                            <ul class="list-unstyled pb-3 small">
                                                <li class="mb-1">
                                                    User profile
                                                </li>
                                                <li class="mb-1">
                                                    View jobs
                                                </li>
                                                <li class="mb-1">
                                                    View other profile
                                                </li>
                                            </ul>
                                            <br>
                                            <br>
                                            <div class="text-center form-group mt-1">
                                                <a class="btn btn-secondary" type="button" href="#">CHOOSE</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-md-0 p-2">
                                    <div class="card card-mem text-center h-100">
                                        <div class="card-body text-center d-flex flex-column">
                                            <div class="mb-4">
                                                <h4>PREMIUM ACCESS</h4>
                                                <br>
                                                <span class="display-4">€15</span>
                                                <span>/mo</span>
                                            </div>
                                            <h6 class="mb-3">Includes:</h6>
                                            <ul class="list-unstyled small">
                                                <li class="mb-1">
                                                    User profile
                                                </li>
                                                <li class="mb-1">
                                                    View jobs
                                                </li>
                                                <li class="mb-1">
                                                    View other profile
                                                </li>
                                                <li class="mb-1">
                                                    Create gigs
                                                </li>
                                                <li class="mb-1">
                                                    Create a network
                                                </li>
                                            </ul>
                                            <br>
                                            <div class="text-center form-group">
                                                <a class="btn btn-secondary" type="button"
                                                    href="https://buy.stripe.com/dR617C3CI8UZ0Kc7st">CHOOSE</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-md-0 p-2">
                                    <div class="card card-mem text-center h-100">
                                        <div class="card-body text-center d-flex flex-column">
                                            <div class="mb-4">
                                                <h4>PREMIUM ACCESS</h4>
                                                <br>
                                                <span class="display-4">€150</span>
                                                <span>/yr</span>
                                            </div>
                                            <h6 class="mb-3">Includes:</h6>
                                            <ul class="list-unstyled small">
                                                <li class="mb-1">
                                                    User profile
                                                </li>
                                                <li class="mb-1">
                                                    View jobs
                                                </li>
                                                <li class="mb-1">
                                                    View other profile
                                                </li>
                                                <li class="mb-1">
                                                    Create gigs
                                                </li>
                                                <li class="mb-1">
                                                    Create a network
                                                </li>
                                            </ul>
                                            <br>
                                            <div class="text-center form-group">
                                                <a class="btn btn-secondary" type="button"
                                                    href="https://buy.stripe.com/00gaIcehmefj64wdQSt">CHOOSE</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                {% endif %}-->
