{% extends "base.html" %}
{% load static %}
{% load i18n %}
<!--{% load crispy_forms_tags %}-->


{% block extra_css %}
<link rel="stylesheet" href="{% static 'userprofiles/css/profile.css' %}">
{% endblock %}

{% block scripts %}
<script src="{% static 'userprofiles/js/my_profile.js' %}" defer></script>
{% endblock scripts %}

{% block page_header %}
<!-- Profile tab links -->
<div class="tab-container">
    <ul class="nav nav-tab justify-content-evenly" id="profileTab" role="tablist">
        <li class="nav-item" role="presentation">
            <form action="{% url 'profile_details' %}">
                <input type="submit" value="MY PROFILE" class="nav-link gig-tab active" id="my_profile_tab"
                    data-bs-toggle="tab" data-bs-target="#my_profile" type="tab-button" role="tab" />
            </form>
        </li>
        <li class="nav-item" role="presentation">
            <form action="{% url 'my_gigs' %}">
                <input type="submit" value="MY GIGS" class="nav-link gig-tab" id="my_gig_tab" data-bs-toggle="tab"
                    data-bs-target="#my_gig" type="tab-button" role="tab" />
            </form>
        </li>
        <li class="nav-item" role="presentation">
            <form action="{% url 'my_contacts' %}">
                <input type="submit" value="MY CONTACTS" class="nav-link gig-tab" id="my_contacts_tab"
                    data-bs-toggle="tab" data-bs-target="#my_contacts" type="tab-button" role="tab" />
            </form>
        </li>
        <li class="nav-item" role="presentation">
            <form action="{% url 'membership_profile' %}">
                <input type="submit" value="MEMBERSHIP" class="nav-link gig-tab" id="membership_profile_tab"
                    data-bs-toggle="tab" data-bs-target="#membership_profile" type="tab-button" role="tab" />
            </form>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane show active" id="my_profile" role="tabpanel" aria-labelledby="my_profile_tab"></div>
        <div class="tab-pane" id="my_gig" role="tabpanel" aria-labelledby="my_gig_tab"></div>
        <div class="tab-pane" id="my_contacts" role="tabpanel" aria-labelledby="my_contacts_tab"></div>
        <div class="tab-pane" id="membership_profile" role="tabpanel" aria-labelledby="membership_profile_tab"></div>
    </div>
</div>
{% endblock %}

{% block content %}
{% if user.is_authenticated %}

<style>
    .textinput,
    .form-control,
    .form-control-file {
        margin-top: 3px;
    }
</style>

<div class="container-fluid" id="justify-center">
    <br>

    <div class="row">
        <div class="col-sm-10 col-sx-12 mx-auto">

            <!-- Edit Profile -->
            <div class="card" id="justify-center" style="max-width: 740px;">
                <div class="card-body">
                    <div class="col-12">

                        {% crispy form %}

                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
            <br>

        </div>
    </div>
</div>

{% endif %}

{% endblock %}

{% block javascript %}

<script type="text/javascript">
    $(document).ready(function () {

        $('ajaxt_save').click(function (event) {
            // alert('Save Profile Clicked');

            event.preventDefault();
            var form_id = $("#id-profileForm");

            $.ajax({
                url: '{% url "create_customer" %}',
                type: 'POST',
                data: form_id.serialize(),
                dataType: 'json',
                header: {'X-CSRFTolken': '{% csrf_tolken %}'},
                success: function (response) {
                    var success = response['success']
                    if (success){
                        alert('Form valid and User created successfully.')
                    } else {
                        alert('Got form error')
                        console.log("Response form with errors: " + response['html']);
                        form_id.replaceWith(response['html']);
                    }
                },
                failure : function (){
                    alert('Error occure while calling our Django view')
                }
                
            });
        });
    });
</script>

{% endblock %}
