{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}



{% block content %}

<style>
    #justify-center {
        margin: auto;
        width: 80%;
        padding: 10px;
        border: none !important;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: medium !important;
    }

    label {
        display: none;
    }

    a,
    p,
    .link {
        text-align: center;
        font-size: smal;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    h2 {
        text-align: center;
        font-size: medium;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .form-control {
        height: 45px;
        margin-top: 1%;
        text-align: center;
    }

    .form_container {
        margin-top: 10px;
        width: 70%;
        border-color: black;
        align-items: center;
    }

    /* BUTTONS */

    .btn,
    .login-btn {
        color: white;
        border-color: rgba(148, 149, 150, 0.2);
        background-color: rgba(131, 133, 134, 0.8) !important;
        width: 95%;
        height: 45px;
        margin-top: 2%;
        font-weight: bold;
        text-align: center;
        font-size: medium !important;
        box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -webkit-box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -moz-box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .btn:hover,
    .btn:active,
    .btn:focus {
        background-color: rgba(94, 95, 95, 0.792) !important;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    }


    /* RESET PASSWORD */

    #link {
        color: deeppink;
    }

    .password_reset {
        border: none;
    }

    input {
        width: 84%;
        text-align: center;
        font-size: large !important;
        height: 45px;
        margin-top: 2%;
        border-style: double;
        border-width: 2px;
        border-color: rgba(101, 102, 102, 0.7);
    }

    input:hover,
    input:active,
    input:focus {
        background-color: rgba(94, 95, 95, 0.192) !important;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    }

</style>

<div class="container-fluid" id="justify-center">

    <div class="d-flex">
        <h2 id="form-title">VERTIFY YOUR ACCOUNT</h2>
    </div>
    <div class="d-flex justify-content-center form_container" id="justify-center">

        <form method="POST" action="#">
            {% csrf_token %}
            {{ form.as_p }}
      
            <div class="input-group mb-2">
                <div class="input-group-append">
                    <span class="input-group-text"></span>
                </div>
                <input type="text" name="username" placeholder="Username..." class="form-control">
            </div>
            <div class="input-group mb-2">
                <div class="input-group-append justify-content-center">
                    <span class="input-group-text"></span>
                </div>
                <input type="password" name="password" placeholder="Password..." class="form-control">
            </div>
            <br>
            <br>
            <p><b>Forgotten your password?</b></p>
            <p>Please, click on the <a href="{% url 'account_reset_password' %}" class="link-danger">LINK</a>, and we'll
                send you an e-mail allowing you to reset it.</p>

            <br>
            <div class="d-flex justify-content-center mt-3" id="justify-center">
                <input class="btn login-btn" type="submit" value="SIGN IN">
            </div>
        </form>

    </div>


<script>

    // Query All input fields
    var form_fields = document.getElementsByTagName('input')

    form_fields[1].placeholder = 'Email..';
    form_fields[2].placeholder = 'Enter password...';

    for (var field in form_fields) {
        form_fields[field].className += 'form-control'
    }

</script>

{% endblock %}