{% extends "account/base.html" %}
{% load i18n %}
{% load account %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'userprofiles/css/profile.css' %}">
{% endblock %}

{% block head_title %}Password Reset{% endblock %}

{% block content %}

<div class="container-fluid" id="justify-center">

  <div class="user_card" id="justify-center">
    <div class="d-flex form_container" id="justify-center">
      <h1>Password Reset</h1>

      {% if user.is_authenticated %}
      {% include "account/snippets/already_logged_in.html" %}
      {% endif %}

      <p>{% blocktrans %}We have sent you an e-mail. Please contact us at <strong>info@biznet.com</strong> if you do not
        receive it within a few minutes.{% endblocktrans %}</p>
        <br>
        <p>Back to <a href="{% url 'profile_details' %}" class="link-danger">Signin</a> page.</p>
    </div>

  </div>
</div>
{% endblock %}